[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
werkzeug = "*"
flask-login = "*"
flask-mail = "*"
pyjwt = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-babel = "*"
guess-language-spirit = "*"
requests = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
